#navbar{
    position: fixed;
    min-width: 150px;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 10, 22, 0.4);
}
nav{
    display:block;
}

#navbar a{    display: block;
    padding: 10px 30px;
    color: #4d6e53;
    text-decoration: none;
    cursor: pointer;
    
}


#main-doc{
    position: absolute;
    margin-left: 210px;
    padding: 20px;
    margin-bottom: 110px;
}
.main-section{
    display:block;
}
